<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ character?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="character">
  <ion-card>
    <img [src]="character.image" alt="{{ character.name }}" />
    <ion-card-header>
      <ion-card-title>{{ character.name }}</ion-card-title>
      <ion-card-subtitle>{{ character.species }} - {{ character.status }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Origen: {{ character.origin.name }}</p>
      <p>Ubicación: {{ character.location.name }}</p>
      <p>Género: {{ character.gender }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
