<ion-content>
  <ion-list>
    <ion-item *ngFor="let char of characters">
      <ion-avatar slot="start" [routerLink]="['/tabs/character', char.id]">
        <img [src]="char.image" />
      </ion-avatar>

      <ion-label [routerLink]="['/tabs/character', char.id]">
        <h2>{{ char.name }}</h2>
        <p>{{ char.species }} - {{ char.status }}</p>
      </ion-label>

      <ion-button fill="clear" slot="end" (click)="toggleFavorite(char)">
        <ion-icon
          [name]="isFavorite(char) ? 'heart' : 'heart-outline'"
          slot="icon-only"
          color="danger">
        </ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
